- ğŸ“š ë°ì´í„° ì‚¬ì´ì–¸í‹°ìŠ¤íŠ¸ì˜ ì‹¤ì „ë…¸íŠ¸, ì´ì§€ì˜, [ë¹„ì œì´í¼ë¸”ë¦­](https://bjpublic.tistory.com/) 
- ğŸŒŸ [YouTube: í†µê³„í•™ & ë°ì´í„°ê³¼í•™](https://https://www.youtube.com/channel/UC2BreMMPUd0djRpA4UEaD3Q)
- ğŸ’» [í´ë˜ìŠ¤101: ë°ì´í„° ê³¼í•™ì ì‹¤ë¬´ í”„ë¡œì íŠ¸ (ë¶„ì„+ì˜ˆì¸¡ëª¨ë¸ + AWS ìë™í™”)](https://class101.page.link/MhG4)

# 2.2 ë°ì´í„°ì—ì„œ í™•ì¸í•´ì•¼ í•  ì‚¬í•­
## 2.2.2 ë°ì´í„° ê°’ì— ë”°ë¥¸ ì¢…ë¥˜ 
ë°ì´í„°ë¥¼ êµ¬ë¶„ ì˜ˆì‹œ (Page 66)

In [1]:
# í•„ìš”í•œ ë¼ì´ë¸ŒëŸ¬ë¦¬ ë¶ˆëŸ¬ì˜¤ê¸°
import numpy as np
import pandas as pd
import random

# ì„ì˜ ìˆ«ì ì‹œë“œ ì„¤ì •
random.seed(20) # ì„ì˜ë¡œ 20 ì§€ì • 
np.random.seed(21) # ì„ì˜ë¡œ 21 ì§€ì •

# ê³ ê°ID ë°°ì—´ 
# 100000ê³¼200000ì‚¬ì´ ëœë¤í•œ ì •ìˆ˜ 10ê°œë¥¼ ë½‘ì•„ ë°°ì—´ë¡œ ë°˜í™˜í•œ ê²ƒì„ user_idë¼ ì§€ì •
# ì´ë•Œ, 100000 í¬í•¨í•˜ë©° 200000 í¬í•¨í•˜ì§€ ì•ŠìŒ
user_id = np.random.randint(100000, 200000, 10)

# êµ¬ë§¤ ê°€ê²© ë¦¬ìŠ¤íŠ¸ 
# 100ì—ì„œ 1000 ì‚¬ì´ ê°’ì—ì„œ ë¬´ì‘ìœ„ë¡œ 10ê°œë¥¼ ë½‘ì•„ ë¦¬ìŠ¤íŠ¸ë¡œ ë°˜í™˜ (1000 ë¶ˆí¬í•¨)
price_list = random.sample(range(100, 1000), 10)
# ê° ìš”ì†Œì— 1000ì„ ê³±í•œ ë’¤ $ë¥¼ ë¶™ì—¬ ë¬¸ìì—´ ë¦¬ìŠ¤íŠ¸ë¡œ ë³€í™˜
price_list = ['$' + str(x*1000) for x in price_list]

# í• ì¸ ê¸ˆì•¡ ë¦¬ìŠ¤íŠ¸  
# 100ì—ì„œ 500 ì‚¬ì´ ê°’ì—ì„œ ë¬´ì‘ìœ„ë¡œ 10ê°œë¥¼ ë½‘ì•„ ë¦¬ìŠ¤íŠ¸ë¡œ ë°˜í™˜ (500 ë¶ˆí¬í•¨)
reduce_price_list = random.sample(range(100, 500), 10)

# ê° ìš”ì†Œì— 10ì„ ê³±í•œ ë’¤ $ë¥¼ ë¶™ì—¬ ë¬¸ìì—´ ë¦¬ìŠ¤íŠ¸ë¡œ ë³€í™˜
reduce_price_list = ['$' + str(x*10) for x in reduce_price_list]

# VIP ì—¬ë¶€ ë°°ì—´
# YëŠ” 0.3ì˜ ë½‘í í™•ë¥ ë¡œ, Nì€ 0.7ì˜ ë½‘í í™•ë¥ ë¡œ 10ê°œì˜ Yì™€ Nìœ¼ë¡œ êµ¬ì„±ëœ ë°°ì—´ ë°˜í™˜
vip_array = np.random.choice(["Y", "N"], size=10, p=[0.3, 0.7])

# ì„ì˜ ë°ì´í„° ë§Œë“¤ê¸° 
df = pd.DataFrame({
                    'ê³ ê°ID': user_id, 
                    'êµ¬ë§¤ë‚ ì§œ': pd.Timestamp('20210331'),
                    'êµ¬ë§¤ê°€ê²©': price_list,
                    'í• ì¸ê¸ˆì•¡': reduce_price_list,
                    'VIP': vip_array
                  })
df

     ê³ ê°ID       êµ¬ë§¤ë‚ ì§œ     êµ¬ë§¤ê°€ê²©   í• ì¸ê¸ˆì•¡ VIP
0  180841 2021-03-31  $840000  $2670   Y
1  170863 2021-03-31  $802000  $3930   N
2  171480 2021-03-31  $905000  $1860   N
3  108964 2021-03-31  $884000  $1130   N
4  181968 2021-03-31  $254000  $3100   Y
5  163856 2021-03-31  $366000  $3080   N
6  142104 2021-03-31  $790000  $1380   Y
7  188764 2021-03-31  $750000  $1520   N
8  145666 2021-03-31  $969000  $1640   N
9  196767 2021-03-31  $203000  $2630   N

In [2]:
# êµ¬ë§¤ê°€ê²©ê³¼ í• ì¸ê¸ˆì•¡ í•©ì‚°í•˜ê¸°
df['êµ¬ë§¤ê°€ê²©'] + df['í• ì¸ê¸ˆì•¡']

0    $840000$2670
1    $802000$3930
2    $905000$1860
3    $884000$1130
4    $254000$3100
5    $366000$3080
6    $790000$1380
7    $750000$1520
8    $969000$1640
9    $203000$2630
dtype: object

In [3]:
# êµ¬ë§¤ ê°€ê²© ë¦¬ìŠ¤íŠ¸ 
price_list = random.sample(range(100, 1000), 10)
print('price_list:', price_list)

# êµ¬ë§¤ ê°€ê²© ë¦¬ìŠ¤íŠ¸ì— $ ì¶”ê°€ 
price_list = ['$' + str(x*1000) for x in price_list]
print('\nprice_listì— $ ì¶”ê°€:', price_list) # \n í•œ ì¤„ ê±´ë„ˆë›°ê¸°

price_list: [585, 694, 560, 521, 313, 304, 424, 740, 797, 443]

price_listì— $ ì¶”ê°€: ['$585000', '$694000', '$560000', '$521000', '$313000', '$304000', '$424000', '$740000', '$797000', '$443000']

In [4]:
# df ê¸°ë³¸ ì •ë³´ í™•ì¸  
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ê³ ê°ID    10 non-null     int64
 1   êµ¬ë§¤ë‚ ì§œ    10 non-null     datetime64[ns]
 2   êµ¬ë§¤ê°€ê²©    10 non-null     object
 3   í• ì¸ê¸ˆì•¡    10 non-null     object
 4   VIP     10 non-null     object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 528.0+ bytes

In [5]:
# êµ¬ë§¤ê°€ê²© ë° í• ì¸ê¸ˆì•¡ ë°ì´í„° íƒ€ì… ë³€í™˜
# êµ¬ë§¤ê°€ê²©/í• ì¸ê¸ˆì•¡ ì—´ì—ì„œ í–‰ì˜ ê° ê°’ë§ˆë‹¤ $ë¥¼ â€˜â€™ë¡œ ë³€í™˜í•´ ì§€ìš´ í›„ ì •ìˆ˜ë¡œ ë³€í™˜
df["êµ¬ë§¤ê°€ê²©"] = df["êµ¬ë§¤ê°€ê²©"].apply(lambda x: x.replace('$', '')).astype('int')
df['í• ì¸ê¸ˆì•¡'] = df['í• ì¸ê¸ˆì•¡'].apply(lambda x: x.replace('$', '')).astype('int')
df.head()

     ê³ ê°ID       êµ¬ë§¤ë‚ ì§œ    êµ¬ë§¤ê°€ê²©  í• ì¸ê¸ˆì•¡ VIP
0  180841 2021-03-31  840000  2670   Y
1  170863 2021-03-31  802000  3930   N
2  171480 2021-03-31  905000  1860   N
3  108964 2021-03-31  884000  1130   N
4  181968 2021-03-31  254000  3100   Y

In [6]:
df["ì›ë˜ê°€ê²©"] = df['êµ¬ë§¤ê°€ê²©'] + df['í• ì¸ê¸ˆì•¡']
df

     ê³ ê°ID       êµ¬ë§¤ë‚ ì§œ    êµ¬ë§¤ê°€ê²©  í• ì¸ê¸ˆì•¡ VIP    ì›ë˜ê°€ê²©
0  180841 2021-03-31  840000  2670   Y  842670
1  170863 2021-03-31  802000  3930   N  805930
2  171480 2021-03-31  905000  1860   N  906860
3  108964 2021-03-31  884000  1130   N  885130
4  181968 2021-03-31  254000  3100   Y  257100
5  163856 2021-03-31  366000  3080   N  369080
6  142104 2021-03-31  790000  1380   Y  791380
7  188764 2021-03-31  750000  1520   N  751520
8  145666 2021-03-31  969000  1640   N  970640
9  196767 2021-03-31  203000  2630   N  205630

In [7]:
# VIP ë°ì´í„° íƒ€ì… ë³€í™˜ 
# VIPì—´ì—ì„œ ê°’ì´ Yì¼ ë•Œ Trueë¡œ, ê·¸ë ‡ì§€ ì•Šì€ ê²½ìš° Falseë¡œ ë³€í™˜
df["VIP"] = np.where(df["VIP"] == "Y", True, False)
df.head()

     ê³ ê°ID       êµ¬ë§¤ë‚ ì§œ    êµ¬ë§¤ê°€ê²©  í• ì¸ê¸ˆì•¡    VIP    ì›ë˜ê°€ê²©
0  180841 2021-03-31  840000  2670   True  842670
1  170863 2021-03-31  802000  3930  False  805930
2  171480 2021-03-31  905000  1860  False  906860
3  108964 2021-03-31  884000  1130  False  885130
4  181968 2021-03-31  254000  3100   True  257100

In [8]:
df.dtypes

ê³ ê°ID             int64
êµ¬ë§¤ë‚ ì§œ    datetime64[ns]
êµ¬ë§¤ê°€ê²©             int64
í• ì¸ê¸ˆì•¡             int64
VIP               bool
ì›ë˜ê°€ê²©             int64
dtype: object

In [9]:
df["ì›ë˜ê°€ê²©"] = df['êµ¬ë§¤ê°€ê²©'] + df['í• ì¸ê¸ˆì•¡']
df

     ê³ ê°ID       êµ¬ë§¤ë‚ ì§œ    êµ¬ë§¤ê°€ê²©  í• ì¸ê¸ˆì•¡    VIP    ì›ë˜ê°€ê²©
0  180841 2021-03-31  840000  2670   True  842670
1  170863 2021-03-31  802000  3930  False  805930
2  171480 2021-03-31  905000  1860  False  906860
3  108964 2021-03-31  884000  1130  False  885130
4  181968 2021-03-31  254000  3100   True  257100
5  163856 2021-03-31  366000  3080  False  369080
6  142104 2021-03-31  790000  1380   True  791380
7  188764 2021-03-31  750000  1520  False  751520
8  145666 2021-03-31  969000  1640  False  970640
9  196767 2021-03-31  203000  2630  False  205630

âš  ì €ì‘ê¶Œ: Copyright 2022. (ì´ì§€ì˜) all rights reserved. 
ë³¸ ìë£ŒëŠ” ì €ì‘ê¶Œë²•ì— ì˜í•˜ì—¬ ë³´í˜¸ë°›ëŠ” ì €ì‘ë¬¼ë¡œì„œ ì´ì— ëŒ€í•œ ë¬´ë‹¨ ë³µì œ ë° ë°°í¬ë¥¼ ì›ì¹™ì ìœ¼ë¡œ ê¸ˆí•©ë‹ˆë‹¤. í˜‘ì˜ ì—†ì´ ë°°í¬í•˜ê±°ë‚˜ ë¬´ë‹¨ìœ¼ë¡œ ì‚¬ìš©í•  ê²½ìš° ì €ì‘ê¶Œë²• ì œ136ì¡°, 137ì¡°, 138ì¡° ìœ„ë°˜ìœ¼ë¡œ ì‚¬ì „ ê²½ê³  ì—†ì´ ì†í•´ë°°ìƒ ì²­êµ¬ ë“± ë¯¼,í˜•ì‚¬ìƒì˜ ì±…ì„ê³¼ ì²˜ë²Œì„ ë°›ì„ ìˆ˜ ìˆìŠµë‹ˆë‹¤.