- ğŸ“š ë°ì´í„° ì‚¬ì´ì–¸í‹°ìŠ¤íŠ¸ì˜ ì‹¤ì „ë…¸íŠ¸, ì´ì§€ì˜, [ë¹„ì œì´í¼ë¸”ë¦­](https://bjpublic.tistory.com/) 
- ğŸŒŸ [YouTube: í†µê³„í•™ & ë°ì´í„°ê³¼í•™](https://https://www.youtube.com/channel/UC2BreMMPUd0djRpA4UEaD3Q)
- ğŸ’» [í´ë˜ìŠ¤101: ë°ì´í„° ê³¼í•™ì ì‹¤ë¬´ í”„ë¡œì íŠ¸ (ë¶„ì„+ì˜ˆì¸¡ëª¨ë¸ + AWS ìë™í™”)](https://class101.page.link/MhG4)

# 2.2 ë°ì´í„°ì—ì„œ í™•ì¸í•´ì•¼ í•  ì‚¬í•­
## 2.2.4 ì¤‘ë³µ ë°ì´í„°
FuzzyWuzzyë¥¼ ì´ìš©í•´ ë‹¨ì–´ì˜ ë¹„ìŠ·í•œ ì •ë„ ë¹„êµí•˜ê¸° (Page 97)

In [1]:
# fuzzywuzzyë¥¼ ì‚¬ìš©í•˜ê¸° ìœ„í•´ í•„ìš”í•œ íŒ¨í‚¤ì§€ ì„¤ì¹˜í•˜ê¸°  
# !pip3 install fuzzywuzzy

# fuzzywuzzyë¥¼ ì‚¬ìš©í•˜ê¸° ìœ„í•œ ë¼ì´ë¸ŒëŸ¬ë¦¬ ë¶ˆëŸ¬ì˜¤ê¸° 
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

# ê²½ê³  í‘œì‹œ ì§€ì›€ 
import warnings
warnings.filterwarnings('ignore')

# input_str: ê¸°ì¤€ì´ ë˜ëŠ” ë¬¸ì
input_str = "US"

# choices: ë¹„êµí•˜ê³ ì í•˜ëŠ” ë¬¸ì ë¦¬ìŠ¤íŠ¸
choices = ["US!", "U.S.", "USA", "United States", "SU"]

# input_strë¬¸ìë¥¼ choices ì•ˆì— ìˆëŠ” ê° ë¬¸ìì™€ ë¹„êµí•œ ë’¤ ìƒìœ„ 3ê°œ ì„ íƒ
process.extract(input_str, choices, limit=3)

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

[('US!', 100), ('USA', 90), ('U.S.', 80)]

In [2]:
#ì¶œì²˜: https://www.kaggle.com/leandrodoze/room-type  
choices = ["Deluxe Room, 2 Queen Bed", 
           "Deluxe Room, City View", 
           "Club Room, 1 King Bed", 
           "Junior Suite, 1 King Bed", 
           "King Room, Deluxe"]

process.extract("Deluxe 1 King Room", choices)

[('King Room, Deluxe', 95),
 ('Club Room, 1 King Bed', 75),
 ('Deluxe Room, 2 Queen Bed', 72),
 ('Deluxe Room, City View', 72),
 ('Junior Suite, 1 King Bed', 48)]

In [3]:
# ë¼ì´ë¸ŒëŸ¬ë¦¬ ë¶ˆëŸ¬ì˜¤ê¸°
import pandas as pd
import numpy as np

# choicesë¥¼ ë°ì´í„° íƒ€ì…ìœ¼ë¡œ ë³€í™˜
df = pd.DataFrame({'ë£¸íƒ€ì…': choices})
df

                        ë£¸íƒ€ì…
0  Deluxe Room, 2 Queen Bed
1    Deluxe Room, City View
2     Club Room, 1 King Bed
3  Junior Suite, 1 King Bed
4         King Room, Deluxe

In [4]:
input_str = "Deluxe Room, 2 Queen Bed"
process.extract(input_str, df['ë£¸íƒ€ì…'])

[('Deluxe Room, 2 Queen Bed', 100, 0),
 ('King Room, Deluxe', 77, 4),
 ('Club Room, 1 King Bed', 67, 2),
 ('Deluxe Room, City View', 66, 1),
 ('Junior Suite, 1 King Bed', 42, 3)]

In [5]:
# input_strì„ ì œì™¸í–ˆì„ ë•Œ, ê°€ì¥ ë¹„ìŠ·í•œ ë‹¨ì–´ ì„ íƒ(top_score)
top_score = process.extract(input_str, df['ë£¸íƒ€ì…'])[1] 
print(top_score)

('King Room, Deluxe', 77, 4)

In [6]:
threshold = 70

# ì´ ë¹„ìŠ·í•œ ë‹¨ì–´ì˜ ìŠ¤ì½”ì–´ê°€ ì„ê³„ê°’ë³´ë‹¤ ë†’ìœ¼ë©´ ë‹¨ì–´ë¥¼ ì„ íƒí•˜ê³  ê·¸ë ‡ì§€ ì•Šì€ ê²½ìš° ê²°ì¸¡ì¹˜ë¡œ í‘œí˜„
top_score[0] if top_score[1] > threshold else np.nan

'King Room, Deluxe'

In [7]:
# ìœ„ ê³¼ì •ì„ í•¨ìˆ˜ë¡œ í‘œí˜„
def get_match(input_str, threshold):
    """
    input_strì„ df['ë£¸íƒ€ì…']ì˜ í›„ë³´ì™€ ë¹„êµí•œ í›„ 
    ê°€ì¥ ë¹„ìŠ·í•œ ê°’ì´ thresholdë³´ë‹¤ ë†’ìœ¼ë©´ ê·¸ ê°’ì„ ë°˜í™˜í•˜ê³ , 
    ê·¸ë ‡ì§€ ì•Šìœ¼ë©´ ê²°ì¸¡ì¹˜ë¡œ ë°˜í™˜
    """
    top_score = process.extract(input_str, df['ë£¸íƒ€ì…'])[1]
    top_score = top_score[0] if top_score[1] > threshold else np.nan
    return top_score

df['ë£¸íƒ€ì…_matched'] = [get_match(row, 70) for row in df['ë£¸íƒ€ì…']]
df

                        ë£¸íƒ€ì…               ë£¸íƒ€ì…_matched
0  Deluxe Room, 2 Queen Bed         King Room, Deluxe
1    Deluxe Room, City View         King Room, Deluxe
2     Club Room, 1 King Bed                       NaN
3  Junior Suite, 1 King Bed                       NaN
4         King Room, Deluxe  Deluxe Room, 2 Queen Bed

âš  ì €ì‘ê¶Œ: Copyright 2022. (ì´ì§€ì˜) all rights reserved. 
ë³¸ ìë£ŒëŠ” ì €ì‘ê¶Œë²•ì— ì˜í•˜ì—¬ ë³´í˜¸ë°›ëŠ” ì €ì‘ë¬¼ë¡œì„œ ì´ì— ëŒ€í•œ ë¬´ë‹¨ ë³µì œ ë° ë°°í¬ë¥¼ ì›ì¹™ì ìœ¼ë¡œ ê¸ˆí•©ë‹ˆë‹¤. í˜‘ì˜ ì—†ì´ ë°°í¬í•˜ê±°ë‚˜ ë¬´ë‹¨ìœ¼ë¡œ ì‚¬ìš©í•  ê²½ìš° ì €ì‘ê¶Œë²• ì œ136ì¡°, 137ì¡°, 138ì¡° ìœ„ë°˜ìœ¼ë¡œ ì‚¬ì „ ê²½ê³  ì—†ì´ ì†í•´ë°°ìƒ ì²­êµ¬ ë“± ë¯¼,í˜•ì‚¬ìƒì˜ ì±…ì„ê³¼ ì²˜ë²Œì„ ë°›ì„ ìˆ˜ ìˆìŠµë‹ˆë‹¤.