- ğŸ“š ë°ì´í„° ì‚¬ì´ì–¸í‹°ìŠ¤íŠ¸ì˜ ì‹¤ì „ë…¸íŠ¸, ì´ì§€ì˜, [ë¹„ì œì´í¼ë¸”ë¦­](https://bjpublic.tistory.com/) 
- ğŸŒŸ [YouTube: í†µê³„í•™ & ë°ì´í„°ê³¼í•™](https://https://www.youtube.com/channel/UC2BreMMPUd0djRpA4UEaD3Q)
- ğŸ’» [í´ë˜ìŠ¤101: ë°ì´í„° ê³¼í•™ì ì‹¤ë¬´ í”„ë¡œì íŠ¸ (ë¶„ì„+ì˜ˆì¸¡ëª¨ë¸ + AWS ìë™í™”)](https://class101.page.link/MhG4)

## 2.3 ë°ì´í„° í•©ì¹˜ê¸°

### 2.3.1. ë°ì´í„°í”„ë ˆì„ ê²°í•©: pd.merge()
- Page 106

In [1]:
# í•¨ìˆ˜2: ë°ì´í„° í”„ë ˆì„ êµ¬í˜„ (page 226)
from IPython.core.display import display, HTML
def df_display(dfs:list, captions:list):
    """ ë°ì´í„° í”„ë ˆì„ì„ ë‚˜ë€íˆ ë³´ì—¬ì¤Œâ€€â€€â€€ â€€â€€â€€
    dfs: ë°ì´í„° í”„ë ˆì„ ë¦¬ìŠ¤íŠ¸ â€€â€€â€€ â€€â€€â€€
    captions: ê° ë°ì´í„° í…Œì´ë¸”ì˜ ì„¤ëª…
    """
    output = ""
    combined = dict(zip(captions, dfs))
    for caption, df in combined.items():
        output += df.style.set_table_attributes("style='display:inline'").set_caption(caption)._repr_html_()
        output += "\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0"
    display(HTML(output))

In [2]:
import numpy as np
import pandas as pd

# ì†Œìˆ˜ì  ì²« ë²ˆì§¸ ìë¦¬ê¹Œì§€ í‘œì‹œ
pd.set_option('precision', 1)

# ë°ì´í„°í”„ë ˆì„ ìƒì„±
df_left = pd.DataFrame({'ìƒ‰': ['red', 'orange', 'yellow', 'green', 'blue'],
                        'ê°€ê²©': [1000, 2000, 3000, 4000, 5000]},
                         index=[9, 1, 2, 3, 4])

df_right = pd.DataFrame({'ìƒ‰': ['yellow', 'green', 'blue', 'navy', 'purple'],
                        'ì´ë¦„': ['ë…¸ë€ìƒ‰', 'ì´ˆë¡ìƒ‰', 'íŒŒë€ìƒ‰', 'ë‚¨ìƒ‰', 'ë³´ë¼ìƒ‰']},
                         index=[3, 4, 5, 6, 7])

# ë°ì´í„°í”„ë ˆì„ df_left & df_right í™•ì¸
df_display([df_left, df_right], ['df_left', 'df_right'])

In [3]:
# Inner Join
df_inner = pd.merge(df_left, df_right, on="ìƒ‰", how="inner")

# ë°ì´í„°í”„ë ˆì„ df_left & df_right, df_inner í™•ì¸
df_display([df_left, df_right, df_inner], ['df_left', 'df_right', 'df_inner'])

In [4]:
# Outer Join
df_outer = pd.merge(df_left, df_right, on="ìƒ‰", how="outer")

# ë°ì´í„°í”„ë ˆì„ df_left & df_right, df_outer í™•ì¸
df_display([df_left, df_right, df_outer], ['df_left', 'df_right', 'df_outer'])

In [5]:
# Left Join
df_left_join = pd.merge(df_left, df_right, on="ìƒ‰", how="left")

# ë°ì´í„°í”„ë ˆì„ df_left & df_right, df_left_join í™•ì¸
df_display([df_left, df_right, df_left_join], ['df_left', 'df_right', 'df_left_join'])

In [6]:
# Right Join
df_right_merge = pd.merge(df_left, df_right, on="ìƒ‰", how="right")

# ë°ì´í„°í”„ë ˆì„ df_left & df_right, df_right_merge í™•ì¸
df_display([df_left, df_right, df_right_merge], ['df_left', 'df_right', 'df_right_merge'])

In [7]:
# ì£¼ì˜ì  1. ì¸ë±ìŠ¤ë¡œ ê²°í•©í•  ë•Œ
# Right Join - ì¸ë±ìŠ¤ ê¸°ì¤€
df_right_merge_index = pd.merge(df_left, df_right, left_index=True, 
                                right_index=True, how="right")

# ë°ì´í„°í”„ë ˆì„ df_left & df_right, df_right_merge_index í™•ì¸
df_display([df_left, df_right, df_right_merge_index], 
           ['df_left', 'df_right', 'df_right_merge_index'])

In [8]:
# ì£¼ì˜ì  2. í‚¤ì— ì¤‘ë³µëœ ê°’ì´ ìˆì„ ë•Œ
# ë°ì´í„°í”„ë ˆì„ ìƒì„±
df_left = pd.DataFrame({'ìƒ‰': ['red', 'orange', 'yellow', 'yellow', 'green', 'blue'],
                        'ê°€ê²©': [1000, 2000, 3000, 3000, 4000, 5000]},
                        index=[0, 1, 2, 3, 4, 5])

df_right = pd.DataFrame({'ìƒ‰': ['yellow', 'yellow', 'green', 'blue', 'navy', 'purple'],
                        'ì´ë¦„': ['ë…¸ë€ìƒ‰', 'ë…¸ë€ìƒ‰', 'ì´ˆë¡ìƒ‰', 'íŒŒë€ìƒ‰', 'ë‚¨ìƒ‰', 'ë³´ë¼ìƒ‰']},
                        index=[3, 4, 5, 6, 7, 8])

# Inner Join
df_inner = pd.merge(df_left, df_right, on="ìƒ‰", how="inner")

# ë°ì´í„°í”„ë ˆì„ df_left & df_right, df_inner í™•ì¸
df_display([df_left, df_right, df_inner], ['df_left', 'df_right', 'df_inner'])

In [9]:
# ë°ì´í„°í”„ë ˆì„ ìƒì„±
df_left = pd.DataFrame({'ìƒ‰': ['red', 'orange', 'yellow', 'yellow', 'green', 'blue'],
                        'ê°€ê²©': [1000, 2000, 3000, 3000, 4000, 5000]},
                        index=[0, 1, 2, 3, 4, 5])

df_right = pd.DataFrame({'ìƒ‰': ['yellow', 'yellow', 'yellow', 'green', 'blue', 'navy', 'purple'],
                        'ì´ë¦„': ['ë…¸ë€ìƒ‰', 'ë…¸ë€ìƒ‰', 'ë…¸ë‘', 'ì´ˆë¡ìƒ‰', 'íŒŒë€ìƒ‰', 'ë‚¨ìƒ‰', 'ë³´ë¼ìƒ‰']},
                        index=[6, 7, 8, 9, 10, 11, 12])
# Outer Join
df_outer = pd.merge(df_left, df_right, on="ìƒ‰", how="outer")

# ë°ì´í„°í”„ë ˆì„ df_left & df_right, df_outer í™•ì¸
df_display([df_left, df_right, df_outer], ['df_left', 'df_right', 'df_outer'])

### 2.3.2. ë°ì´í„° í”„ë ˆì„ ê²°í•©: df_left.join(df_right, ...)
- Page 114

In [10]:
# ë°ì´í„°í”„ë ˆì„ ìƒì„±
df_left = pd.DataFrame({'ìƒ‰': ['red', 'orange', 'yellow', 'green', 'blue'],
                        'ê°€ê²©': [1000, 2000, 3000, 4000, 5000]},
                         index=[0, 1, 2, 3, 4])

df_right = pd.DataFrame({'ìƒ‰': ['yellow', 'green', 'blue', 'navy', 'purple'],
                        'ì´ë¦„': ['ë…¸ë€ìƒ‰', 'ì´ˆë¡ìƒ‰', 'íŒŒë€ìƒ‰', 'ë‚¨ìƒ‰', 'ë³´ë¼ìƒ‰']},
                         index=[3, 4, 5, 6, 7])

# ë°ì´í„°í”„ë ˆì„ df_left & df_right í™•ì¸
df_display([df_left, df_right], ['df_left', 'df_right'])

# join ìœ¼ë¡œ ë°ì´í„°í”„ë ˆì„ ê²°í•©
df_right = df_left.join(df_right, how='right')

ValueError: columns overlap but no suffix specified: Index(['ìƒ‰'], dtype='object')

In [11]:
# ì¸ë±ìŠ¤ ëŒ€ì‹  ì—´(í‚¤) ì´ë¦„ìœ¼ë¡œ ë°ì´í„°ë¥¼ í•©ì¹  ê²½ìš° 
df_right_join_key = df_left.join(df_right.set_index(['ìƒ‰'], verify_integrity=True ),
                            on=[ 'ìƒ‰' ], how='right' )

df_right_join_key

          ìƒ‰      ê°€ê²©   ì´ë¦„
2.0  yellow  3000.0  ë…¸ë€ìƒ‰
3.0   green  4000.0  ì´ˆë¡ìƒ‰
4.0    blue  5000.0  íŒŒë€ìƒ‰
NaN    navy     NaN   ë‚¨ìƒ‰
NaN  purple     NaN  ë³´ë¼ìƒ‰

In [12]:
# df_left, df_right ë‘ ê°œì˜ ë°ì´í„°í”„ë ˆì„ ìƒì„±
df_left = pd.DataFrame({'ìƒ‰_left': ['red', 'orange', 'yellow', 'green', 'blue'],
                        'ê°€ê²©': [1000, 2000, 3000, 4000, 5000]},
                         index=[0, 1, 2, 3, 4])

df_right = pd.DataFrame({'ìƒ‰_right': ['yellow', 'green', 'blue', 'navy', 'purple'],
                        'ì´ë¦„': ['ë…¸ë€ìƒ‰', 'ì´ˆë¡ìƒ‰', 'íŒŒë€ìƒ‰', 'ë‚¨ìƒ‰', 'ë³´ë¼ìƒ‰']},
                         index=[3, 4, 5, 6, 7])

# ì¸ë±ìŠ¤ ê¸°ì¤€ìœ¼ë¡œ ë°ì´í„°ë¥¼ í•©ì¹  ê²½ìš°
df_right_join = df_left.join(df_right, how='right')

# ë°ì´í„°í”„ë ˆì„ df_left, df_right, df_right_join_index í™•ì¸
df_display([df_left, df_right, df_right_join], 
           ['df_left', 'df_right', 'df_right_join'])

In [13]:
# df_left, df_right ë‘ ê°œì˜ ë°ì´í„°í”„ë ˆì„ ìƒì„±
df_left = pd.DataFrame({
                'ìƒ‰_left': ['red', 'orange', 'yellow', 'yellow', 'green', 'blue'],
                'ê°€ê²©': [1000, 2000, 3000, 3000, 4000, 5000]
                        }, index=[0, 1, 2, 3, 4, 5])

df_right = pd.DataFrame({
                'ìƒ‰_right': ['yellow', 'yellow', 'green', 'blue', 'navy', 'purple'],
                'ì´ë¦„': ['ë…¸ë€ìƒ‰', 'ë…¸ë€ìƒ‰', 'ì´ˆë¡ìƒ‰', 'íŒŒë€ìƒ‰', 'ë‚¨ìƒ‰', 'ë³´ë¼ìƒ‰']
                        }, index=[3, 4, 5, 6, 7, 8])

# joinì„ ì´ìš©í•´ ë‘ ë°ì´í„°í”„ë ˆì„ í•©ì¹˜ê¸° (ê¸°ë³¸ê°’: ì¸ë±ìŠ¤)
df_right_join_index = df_left.join(df_right, how='right')

# mergeë¥¼ ì´ìš©í•´ ë‘ ë°ì´í„°í”„ë ˆì„ í•©ì¹˜ê¸° (ì¸ë±ìŠ¤ ê¸°ì¤€ ì„¤ì •)
df_right_merge_index = pd.merge(df_left, df_right, left_index=True, 
                                right_index=True, how="right")

# ë°ì´í„°í”„ë ˆì„ ë° ê²°ê³¼ê°’ í™•ì¸
df_display([df_left, df_right], ['df_left', 'df_right'])
df_display([df_right_join_index, df_right_merge_index], 
           ['df_right_join_index', 'df_right_merge_index'])

### 2.3.3 ì—¬ëŸ¬ ë°ì´í„° í”„ë ˆì„ ì—°ê²°: pd.concat()
- Page 121

In [14]:
df_1 = pd.DataFrame({'ìƒ‰1': ['red', 'orange'],
                     'ì´ë¦„1': ["ë¹¨ê°„ìƒ‰", "ì£¼í™©ìƒ‰"]},
                      index=[0, 1,])

df_2 = pd.DataFrame({'ìƒ‰2': ['yellow', 'green'],
                     'ì´ë¦„2': ['ë…¸ë€ìƒ‰', 'ì´ˆë¡ìƒ‰']},
                      index=[2, 3])

df_3 = pd.DataFrame({'ìƒ‰3': ['blue', 'navy'],
                     'ì´ë¦„3': ['íŒŒë€ìƒ‰', 'ë‚¨ìƒ‰']},
                      index=[8, 9])

# ê¸°ë³¸ê°’: í–‰(row) ê¸°ì¤€ìœ¼ë¡œ ì—°ê²°
result_row = pd.concat([df_1, df_2, df_3])

# ì—°ê²°í•  ë°ì´í„°í”„ë ˆì„ í™•ì¸
df_display([df_1, df_2, df_3], ['df_1', 'df_2', 'df_3'])

# ê²°ê³¼ ë°ì´í„°í”„ë ˆì„
result_row

       ìƒ‰1  ì´ë¦„1      ìƒ‰2  ì´ë¦„2    ìƒ‰3  ì´ë¦„3
0     red  ë¹¨ê°„ìƒ‰     NaN  NaN   NaN  NaN
1  orange  ì£¼í™©ìƒ‰     NaN  NaN   NaN  NaN
2     NaN  NaN  yellow  ë…¸ë€ìƒ‰   NaN  NaN
3     NaN  NaN   green  ì´ˆë¡ìƒ‰   NaN  NaN
8     NaN  NaN     NaN  NaN  blue  íŒŒë€ìƒ‰
9     NaN  NaN     NaN  NaN  navy   ë‚¨ìƒ‰

In [15]:
# ì—´ ì´ë¦„ì„ {ê¸°ì¡´:ìƒˆì´ë¦„}ìœ¼ë¡œ ì„¤ì • ë’¤, ë°ì´í„°í”„ë ˆì„ì— ë‹¤ì‹œ ì €ì¥(inplace=True)
df_1.rename(columns={"ìƒ‰1": "ìƒ‰", "ì´ë¦„1": "ì´ë¦„"}, inplace=True)
df_2.rename(columns={"ìƒ‰2": "ìƒ‰", "ì´ë¦„2": "ì´ë¦„"}, inplace=True)
df_3.rename(columns={"ìƒ‰3": "ìƒ‰", "ì´ë¦„3": "ì´ë¦„"}, inplace=True)

# ê¸°ë³¸ê°’: í–‰ ê¸°ì¤€ìœ¼ë¡œ ê²°í•© 
result_row = pd.concat([df_1, df_2, df_3])

# ì¸ë±ìŠ¤ ê°’ í™•ì¸ í•„ìš” 
df_display([df_1, df_2, df_3, result_row],
           ['df_1', 'df_2', 'df_3', 'result_row'])

In [16]:
# ignore_index = True ì„¤ì •
result_row = pd.concat([df_1, df_2, df_3], ignore_index=True)

# ì¸ë±ìŠ¤ ê°’ í™•ì¸ í•„ìš” 
df_display([df_1, df_2, df_3, result_row],
           ['df_1', 'df_2', 'df_3', 'result_row'])

In [17]:
# ë°ì´í„°í”„ë ˆì„ ìƒì„±
df_1 = pd.DataFrame({'ìƒ‰': ['red', 'orange'],
                    'ì´ë¦„': ['ë¹¨ê°„ìƒ‰', 'ì£¼í™©ìƒ‰']},
                     index=[0, 1,])

df_2 = pd.DataFrame({'ìƒ‰': ['yellow', 'green'],
                     'ì´ë¦„': ['ë…¸ë€ìƒ‰', 'ì´ˆë¡ìƒ‰']},
                      index=[2, 3])

df_3 = pd.DataFrame({'ìƒ‰': ['blue', 'navy'],
                     'ì´ë¦„': ['íŒŒë€ìƒ‰', 'ë‚¨ìƒ‰']},
                      index=[5, 6])

# axis = 1 ì—´ ë°©í–¥ìœ¼ë¡œ í•©ì¹˜ê¸° 
result_col = pd.concat([df_1, df_2, df_3], axis = 1)

# ì—°ê²°í•˜ë ¤ëŠ” ë°ì´í„°
df_display([df_1, df_2, df_3],['df_1', 'df_2', 'df_3'])

# ê²°ê³¼ ë°ì´í„°í”„ë ˆì„
result_col

        ìƒ‰   ì´ë¦„       ìƒ‰   ì´ë¦„     ìƒ‰   ì´ë¦„
0     red  ë¹¨ê°„ìƒ‰     NaN  NaN   NaN  NaN
1  orange  ì£¼í™©ìƒ‰     NaN  NaN   NaN  NaN
2     NaN  NaN  yellow  ë…¸ë€ìƒ‰   NaN  NaN
3     NaN  NaN   green  ì´ˆë¡ìƒ‰   NaN  NaN
5     NaN  NaN     NaN  NaN  blue  íŒŒë€ìƒ‰
6     NaN  NaN     NaN  NaN  navy   ë‚¨ìƒ‰

In [18]:
# axis = 1 ì—´ ë°©í–¥ìœ¼ë¡œ í•©ì¹˜ê¸° 
result_col = pd.concat([df_1, df_2, df_3], axis = 1, ignore_index=True)

# ì—°ê²°í•˜ë ¤ëŠ” ë°ì´í„° ë° ê²°ê³¼ ë°ì´í„° í™•ì¸
df_display([df_1, df_2, df_3],['df_1', 'df_2', 'df_3'])

# ê²°ê³¼ ë°ì´í„°í”„ë ˆì„
result_col

        0    1       2    3     4    5
0     red  ë¹¨ê°„ìƒ‰     NaN  NaN   NaN  NaN
1  orange  ì£¼í™©ìƒ‰     NaN  NaN   NaN  NaN
2     NaN  NaN  yellow  ë…¸ë€ìƒ‰   NaN  NaN
3     NaN  NaN   green  ì´ˆë¡ìƒ‰   NaN  NaN
5     NaN  NaN     NaN  NaN  blue  íŒŒë€ìƒ‰
6     NaN  NaN     NaN  NaN  navy   ë‚¨ìƒ‰

In [19]:
#ê¸°ì¡´ ì¸ë±ìŠ¤ ê°’ì„ ì§€ìš°ê³ (drop=True), 0ë¶€í„° ë‹¤ì‹œ ì‹œì‘
df_2.reset_index(drop=True, inplace=True)
df_3.reset_index(drop=True, inplace=True)

result_col = pd.concat([df_1, df_2, df_3], axis=1)

# ì—°ê²°í•˜ë ¤ëŠ” ë°ì´í„°
df_display([df_1, df_2, df_3],['df_1', 'df_2', 'df_3'])

# ê²°ê³¼ ë°ì´í„°í”„ë ˆì„
result_col

        ìƒ‰   ì´ë¦„       ìƒ‰   ì´ë¦„     ìƒ‰   ì´ë¦„
0     red  ë¹¨ê°„ìƒ‰  yellow  ë…¸ë€ìƒ‰  blue  íŒŒë€ìƒ‰
1  orange  ì£¼í™©ìƒ‰   green  ì´ˆë¡ìƒ‰  navy   ë‚¨ìƒ‰

In [20]:
result_col["ì´ë¦„"]

    ì´ë¦„   ì´ë¦„   ì´ë¦„
0  ë¹¨ê°„ìƒ‰  ë…¸ë€ìƒ‰  íŒŒë€ìƒ‰
1  ì£¼í™©ìƒ‰  ì´ˆë¡ìƒ‰   ë‚¨ìƒ‰

In [21]:
# ì—´ì´ë¦„ì„ {ê¸°ì¡´:ìƒˆì´ë¦„}ìœ¼ë¡œ ì„¤ì • ë’¤, ë°ì´í„°í”„ë ˆì„ì— ë‹¤ì‹œ ì €ì¥(inplace=True)
df_1.rename(columns={"ìƒ‰": "ìƒ‰1", "ì´ë¦„": "ì´ë¦„1"}, inplace=True)
df_2.rename(columns={"ìƒ‰": "ìƒ‰2", "ì´ë¦„": "ì´ë¦„2"}, inplace=True)
df_3.rename(columns={"ìƒ‰": "ìƒ‰3", "ì´ë¦„": "ì´ë¦„3"}, inplace=True)

result_row = pd.concat([df_1, df_2, df_3], axis=1)

# ì—°ê²°í•˜ë ¤ëŠ” ë°ì´í„°
df_display([df_1, df_2, df_3],['df_1', 'df_2', 'df_3'])

# ê²°ê³¼ ë°ì´í„°í”„ë ˆì„
result_row

       ìƒ‰1  ì´ë¦„1      ìƒ‰2  ì´ë¦„2    ìƒ‰3  ì´ë¦„3
0     red  ë¹¨ê°„ìƒ‰  yellow  ë…¸ë€ìƒ‰  blue  íŒŒë€ìƒ‰
1  orange  ì£¼í™©ìƒ‰   green  ì´ˆë¡ìƒ‰  navy   ë‚¨ìƒ‰

### 2.3.4 ë°ì´í„° í”„ë ˆì„, ë°°ì—´, ë¦¬ìŠ¤íŠ¸, ë”•ì…”ë„ˆë¦¬ ì—°ê²°: .append()
- page 130.

In [22]:
# append: axis=0 
df_1 = pd.DataFrame({'ìƒ‰': ['red', 'orange'],
                    'ì´ë¦„': ['ë¹¨ê°„ìƒ‰', 'ì£¼í™©ìƒ‰']},
                     index=[0, 1,])

df_2 = pd.DataFrame({'ìƒ‰': ['yellow', 'green', ],
                     'ì´ë¦„': ['ë…¸ë€ìƒ‰', 'ì´ˆë¡ìƒ‰']},
                      index=[2, 3])

df_3 = pd.DataFrame({'ìƒ‰': ['blue', 'navy'],
                     'ì´ë¦„': ['íŒŒë€ìƒ‰', 'ë‚¨ìƒ‰']},
                      index=[8, 9])

# index ê°’ì„ ì´ˆê¸°í™”í•˜ì—¬ ë°ì´í„° ì—°ê²° 
result_append = df_1.append([df_2, df_3], ignore_index=True)

df_display([df_1, df_2, df_3, result_append],
           ['df_1', 'df_2', 'df_3', 'result_append'])

In [23]:
# add_rowë¼ëŠ” Series ìƒì„± 
add_row = pd.Series(['purple','ë³´ë¼ìƒ‰'], index=['ìƒ‰','ì´ë¦„'])
print('>>> add_row ë°°ì—´\n',add_row)
print('>>> ìƒ‰ ì´ë¦„ ì¶œë ¥:', add_row["ìƒ‰"])

# result_appendì— .concat()ë¥¼ ì´ìš©í•´ add_rowì¶”ê°€ 
added_concat = pd.concat([result_append, add_row], ignore_index=True)

# result_appendì— .append()ë¥¼ ì´ìš©í•´ add_rowì¶”ê°€ 
added_append = result_append.append(add_row, ignore_index=True)

# result_append, concatì‚¬ìš©, appendì‚¬ìš©í–ˆì„ ë•Œ ê²°ê³¼ê°’ ì¶œë ¥
df_display([result_append, added_concat, added_append],
           ['result_append', 'added_concat', 'added_append'])

>>> add_row ë°°ì—´
 ìƒ‰     purple
ì´ë¦„       ë³´ë¼ìƒ‰
dtype: object
>>> ìƒ‰ ì´ë¦„ ì¶œë ¥: purple

In [24]:
# ë„¤ìŠ¤í‹°ë“œ ë¦¬ìŠ¤íŠ¸(Nested list), list_ex ìƒì„± 
list_ex=[['red','ë¹¨ê°„ìƒ‰']]

# list_exì— ë‹¤ë¥¸ ë¦¬ìŠ¤íŠ¸ ì¶”ê°€ 
list_ex.append(['orange','ì£¼í™©ìƒ‰'])

# list_ex ì¶œë ¥
print('list_ex:', list_ex)
print('list_exì˜ ì²«ë²ˆì§¸ ê°’:', list_ex[0])
print('list_exì˜ ë‘ë²ˆì§¸ ê°’:', list_ex[1])

# list_exë¥¼ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ì „í™˜
df_list_ex=pd.DataFrame(list_ex, columns=['ìƒ‰','ì´ë¦„'])
df_list_ex

list_ex: [['red', 'ë¹¨ê°„ìƒ‰'], ['orange', 'ì£¼í™©ìƒ‰']]
list_exì˜ ì²«ë²ˆì§¸ ê°’: ['red', 'ë¹¨ê°„ìƒ‰']
list_exì˜ ë‘ë²ˆì§¸ ê°’: ['orange', 'ì£¼í™©ìƒ‰']

        ìƒ‰   ì´ë¦„
0     red  ë¹¨ê°„ìƒ‰
1  orange  ì£¼í™©ìƒ‰

In [25]:
pd.concat([list_ex])

TypeError: cannot concatenate object of type '<class 'list'>'; only Series and DataFrame objs are valid

âš  ì €ì‘ê¶Œ: Copyright 2022. (ì´ì§€ì˜) all rights reserved. ë³¸ ìë£ŒëŠ” ì €ì‘ê¶Œë²•ì— ì˜í•˜ì—¬ ë³´í˜¸ë°›ëŠ” ì €ì‘ë¬¼ë¡œì„œ ì´ì— ëŒ€í•œ ë¬´ë‹¨ ë³µì œ ë° ë°°í¬ë¥¼ ì›ì¹™ì ìœ¼ë¡œ ê¸ˆí•©ë‹ˆë‹¤. í˜‘ì˜ ì—†ì´ ë°°í¬í•˜ê±°ë‚˜ ë¬´ë‹¨ìœ¼ë¡œ ì‚¬ìš©í•  ê²½ìš° ì €ì‘ê¶Œë²• ì œ136ì¡°, 137ì¡°, 138ì¡° ìœ„ë°˜ìœ¼ë¡œ ì‚¬ì „ ê²½ê³  ì—†ì´ ì†í•´ë°°ìƒ ì²­êµ¬ ë“± ë¯¼,í˜•ì‚¬ìƒì˜ ì±…ì„ê³¼ ì²˜ë²Œì„ ë°›ì„ ìˆ˜ ìˆìŠµë‹ˆë‹¤.