- ğŸ“š ë°ì´í„° ì‚¬ì´ì–¸í‹°ìŠ¤íŠ¸ì˜ ì‹¤ì „ë…¸íŠ¸, ì´ì§€ì˜, [ë¹„ì œì´í¼ë¸”ë¦­](https://bjpublic.tistory.com/) 
- ğŸŒŸ [YouTube: í†µê³„í•™ & ë°ì´í„°ê³¼í•™](https://https://www.youtube.com/channel/UC2BreMMPUd0djRpA4UEaD3Q)
- ğŸ’» [í´ë˜ìŠ¤101: ë°ì´í„° ê³¼í•™ì ì‹¤ë¬´ í”„ë¡œì íŠ¸ (ë¶„ì„+ì˜ˆì¸¡ëª¨ë¸ + AWS ìë™í™”)](https://class101.page.link/MhG4)

# 3.2 ê¸°ë³¸ í†µê³„ë¡œ ì§ˆë¬¸ì ë˜ê¸°
## 3.2.7 ì¤‘ì‹¬ê²½í–¥ê°’ì„ ê³„ì‚°í•˜ëŠ” ëŒ€í‘œì ì¸ ì„¸ ê°€ì§€ëŠ” ë¬´ì—‡ì¼ê¹Œ? (Page 188)

In [1]:
# í•¨ìˆ˜2: ë°ì´í„° í”„ë ˆì„ êµ¬í˜„ (page 226)
from IPython.core.display import display, HTML
def df_display(dfs:list, captions:list):
    """ ë°ì´í„° í”„ë ˆì„ì„ ë‚˜ë€íˆ ë³´ì—¬ì¤Œâ€€â€€â€€ â€€â€€â€€
    dfs: ë°ì´í„° í”„ë ˆì„ ë¦¬ìŠ¤íŠ¸ â€€â€€â€€ â€€â€€â€€
    captions: ê° ë°ì´í„° í…Œì´ë¸”ì˜ ì„¤ëª…
    """
    output = ""
    combined = dict(zip(captions, dfs))
    for caption, df in combined.items():
        output += df.style.set_table_attributes("style='display:inline'").set_caption(caption)._repr_html_()
        output += "\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0"
    display(HTML(output))

In [2]:
import numpy as np
import pandas as pd
import random 

pd.set_option("display.precision", 1)

# ì„ì˜ ìˆ«ì ì‹œë“œ ì„¤ì •
random.seed(20)
np.random.seed(21)

N1=1000
N2=600
N3=400

mu1, sigma1=60, 5
mu2, sigma2=80, 5

beta_positive = 10

# col_A: ì •ê·œë¶„í¬(mu1, sigma1, N1)
col_A = np.random.normal(mu1, sigma1, N1)

# col_B: ì •ê·œë¶„í¬(mu1, sigma1, N1) + Exponential(beta_positive)
X1 = np.random.normal(mu1, sigma1, int(N1*0.8))
X2 = np.random.exponential(beta_positive, int(N1*0.2)) + mu1
col_B = np.concatenate([X1, X2])

# col_C ë§Œë“¤ê¸°: col_Bì—ì„œ flip over 
X3 = np.random.normal(mu1, sigma1, int(N1*0.8))
X4 = np.random.exponential(beta_positive, int(N1*0.2)) + mu1
col_C = np.concatenate([X3, X4])
col_C = (np.mean(col_C) - col_C) + mu1

# col_D ë§Œë“¤ê¸° : Bimodal 
X5 = np.random.normal(mu1, sigma1, N2)
X6 = np.random.normal(mu2, sigma2, N3)
col_D = np.concatenate([X5, X6])

# ID
user_id = np.random.randint(1000, 1999, N1)

df_mt = pd.DataFrame({'ID' : user_id,
                    'col_A': col_A.astype('int64'),
                    'col_B': col_B.astype('int64'),
                    'col_C': col_C.astype('int64'),
                    'col_D': col_D.astype('int64')
                    })

In [3]:
print('ë°ì´í„° ì‚¬ì´ì¦ˆ', df_mt.shape)
df_mt.info()

ë°ì´í„° ì‚¬ì´ì¦ˆ (1000, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      1000 non-null   int64
 1   col_A   1000 non-null   int64
 2   col_B   1000 non-null   int64
 3   col_C   1000 non-null   int64
 4   col_D   1000 non-null   int64
dtypes: int64(5)
memory usage: 39.2 KB

In [4]:
df_display([df_mt.head(), df_mt.tail()], ['ì²˜ìŒ 5í–‰', 'ë§ˆì§€ë§‰ 5í–‰'])

In [5]:
# ê³„ì‚°í•˜ê³  ì‹¶ì€ ì—´ ì§€ì •  
list_cols = ['col_A', 'col_B', 'col_C', 'col_D']

# í‰ê· ì„ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„
df_mt_mean = pd.DataFrame(df_mt[list_cols].mean(), columns=['í‰ê· ê°’'])
df_mt_mean

        í‰ê· ê°’
col_A  59.3
col_B  61.2
col_C  59.5
col_D  67.7

In [6]:
# ì¤‘ì•™ê°’ì„ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„
df_mt_median = pd.DataFrame(df_mt[list_cols].median(), columns=['ì¤‘ì•™ê°’'])
df_mt_median

        ì¤‘ì•™ê°’
col_A  59.0
col_B  61.0
col_C  60.0
col_D  64.0

In [7]:
# ìµœë¹ˆê°’ í™•ì¸ 
df_mt[list_cols].mode()

   col_A  col_B  col_C  col_D
0     62     62     60     58

In [8]:
# ì¤‘ì‹¬ê²½í–¥ê°’ì„ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„
df_mt_mean = pd.DataFrame(df_mt[list_cols].mean(), columns=['í‰ê· ê°’'])
df_mt_median = pd.DataFrame(df_mt[list_cols].median(), columns=['ì¤‘ì•™ê°’'])
# ìµœë¹ˆê°’ ê²°ê³¼ ë°ì´í„° í”„ë ˆì„ì—ì„œ .T (Transpose)ë¡œ í–‰ê³¼ ì—´ì„ ë°”ê¾¼ í›„, ì¸ë±ìŠ¤ 0ì„ ìµœë¹ˆê°’ìœ¼ë¡œ ë°”ê¿ˆ 
df_mt_mode = df_mt[list_cols].mode().T.rename(columns={0:'ìµœë¹ˆê°’'})

# ì¤‘ì‹¬ê²½í–¥ê°’ í™•ì¸ 
df_display([df_mt_mean, df_mt_median, df_mt_mode], 
                  ['í‰ê· ', 'ì¤‘ì•™ê°’', 'ìµœë¹ˆê°’'])

âš  ì €ì‘ê¶Œ: Copyright 2022. (ì´ì§€ì˜) all rights reserved. ë³¸ ìë£ŒëŠ” ì €ì‘ê¶Œë²•ì— ì˜í•˜ì—¬ ë³´í˜¸ë°›ëŠ” ì €ì‘ë¬¼ë¡œì„œ ì´ì— ëŒ€í•œ ë¬´ë‹¨ ë³µì œ ë° ë°°í¬ë¥¼ ì›ì¹™ì ìœ¼ë¡œ ê¸ˆí•©ë‹ˆë‹¤. í˜‘ì˜ ì—†ì´ ë°°í¬í•˜ê±°ë‚˜ ë¬´ë‹¨ìœ¼ë¡œ ì‚¬ìš©í•  ê²½ìš° ì €ì‘ê¶Œë²• ì œ136ì¡°, 137ì¡°, 138ì¡° ìœ„ë°˜ìœ¼ë¡œ ì‚¬ì „ ê²½ê³  ì—†ì´ ì†í•´ë°°ìƒ ì²­êµ¬ ë“± ë¯¼,í˜•ì‚¬ìƒì˜ ì±…ì„ê³¼ ì²˜ë²Œì„ ë°›ì„ ìˆ˜ ìˆìŠµë‹ˆë‹¤.